@if (product(); as p) {
  <div class="pdp-container">
    
    <div class="gallery-wrapper">
      <div class="thumbnails-list">
        @for(img of p.images; track img) {
          <div 
            class="thumb-item" 
            [class.active]="activeImage() === img"
            (mouseenter)="setActiveImage(img)"
            (click)="setActiveImage(img)">
            <img [src]="img" [alt]="p.title">
          </div>
        }
      </div>

      <div class="main-image-container">
        <img [src]="activeImage()" [alt]="p.title" class="main-img">
      </div>
    </div>
    
    <div class="info-col">
      <div class="breadcrumb">Home > {{ p.brand }} > {{ p.title }}</div>
      
      <h1>{{ p.title }}</h1>
      
      <div class="price-box">
        <span class="final-price">₹{{ price() | number:'1.0-0' }}</span>
        @if(p.discount) {
          <span class="original-price">₹{{ originalPrice() }}</span>
          <span class="discount-label">{{ p.discount }}% off</span>
        }
      </div>

      <div class="variants">
        <p>Select Variant:</p>
        <div class="chips">
          @for (v of p.variants; track v.id) {
            <button 
              [class.active]="selectedVariant()?.id === v.id"
              [class.disabled]="v.stock === 0"
              (click)="v.stock > 0 && selectVariant(v)">
              {{ v.name }}
            </button>
          }
        </div>
      </div>

      <button 
        class="add-btn" 
        [disabled]="!isStockAvailable()"
        (click)="addToCart()">
        {{ isStockAvailable() ? 'ADD TO CART' : 'OUT OF STOCK' }}
      </button>

      <div class="features">
        <ul>
          <li>1 Year Warranty</li>
          <li>7 Days Replacement</li>
        </ul>
      </div>
    </div>
  </div>
}